<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidtunnell.deliverypalfree"
    android:versionCode="1"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="10" />

<compatible-screens>
    <screen android:screenSize="small" android:screenDensity="ldpi" />
    <screen android:screenSize="small" android:screenDensity="mdpi" />
    <screen android:screenSize="small" android:screenDensity="hdpi" />
    <screen android:screenSize="small" android:screenDensity="xhdpi" />

    <screen android:screenSize="normal" android:screenDensity="ldpi" />
    <screen android:screenSize="normal" android:screenDensity="mdpi" />
    <screen android:screenSize="normal" android:screenDensity="hdpi" />
    <screen android:screenSize="normal" android:screenDensity="xhdpi"/>

</compatible-screens>
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.davidtunnell.deliverypalfree.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.davidtunnell.deliverypalfree.TabLayoutActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.davidtunnell.deliverypalfree.MAINTABS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.davidtunnell.deliverypalfree.HomeActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.davidtunnell.deliverypalfree.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.davidtunnell.deliverypalfree.About"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.davidtunnell.deliverypalfree.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.davidtunnell.deliverypalfree.Tutorial"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.davidtunnell.deliverypalfree.TUTORIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.davidtunnell.deliverypalfree.FreeTrial"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.davidtunnell.deliverypalfree.FREETRIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.davidtunnell.deliverypalfree.Preferences"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.davidtunnell.deliverypalfree.PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.davidtunnell.deliverypalfree.HistoryActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.davidtunnell.deliverypalfree.HISTORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.davidtunnell.deliverypalfree.WageActivity" />
        <activity android:name="com.davidtunnell.deliverypalfree.WageCheckedActivity" />
        <activity android:name="com.davidtunnell.deliverypalfree.MapsActivity" />
        <activity android:name="com.davidtunnell.deliverypalfree.GateActivity" />
        <activity android:name="com.davidtunnell.deliverypalfree.TipsActivity" />
    </application>

</manifest>